<div class="navbar">
  <a routerLink='/home' class="nav_item" routerLinkActive="active">Home</a>
  <a routerLink='/bbc-news' class="nav_item" routerLinkActive = "active">BBC</a>
  <a routerLink='/form' class="nav_item" routerLinkActive = "active">Form</a>  
  <a routerLink='/spotify' class="nav_item" routerLinkActive = "active">Spotify</a>    
  <a routerLink='/carousel' class="nav_item" routerLinkActive = "active">Carousel</a>    
    <a routerLink='/songkick' class="nav_item" routerLinkActive = "active">Songkick</a>    
</div>
<!-- <div [@effect] = 'getState(state)'>
  <router-outlet #state = "outlet"></router-outlet>
</div> -->
<router-outlet></router-outlet>