.navbar{
  background-color: #aac8ed;
  border: 1px solid white;
  border-radius: 3px;
  margin: 0px auto;
  padding: 15px;
}
.nav_item{
  padding : 15px;
  color: #006bb3;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}
.nav_item:hover{
  background-color: #edf5ff;
  text-decoration: none;
  font-weight: bold;
  color: #006bb3;
  padding:15px 15px 13px 15px;
  border-bottom: 3px solid #006bb3;
}